<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19232164854-ob19vsng14npor1mvva1me0aaofte992.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19232164854-ob19vsng14npor1mvva1me0aaofte992</string>
	<key>API_KEY</key>
	<string>AIzaSyDTp049n1huAXoZfGyB7t9xNx_V5KkoFMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19232164854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wegolego.livq</string>
	<key>PROJECT_ID</key>
	<string>wegolegoexport</string>
	<key>STORAGE_BUCKET</key>
	<string>wegolegoexport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19232164854:ios:b77b722c128404222895d7</string>
</dict>
</plist>